.footer {


    .wrapper {
        background-color: #1B1B1B;
        height: 143px;
        z-index: -1;
    }

    // .footer__inner

    &__inner {
        padding: 35px 0 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        color: #fff;
    }

    // .footer__inner-logo

    &__inner-logo {
        position: absolute;
        top: -45px;
        img {

            width: 112px;
            height: 132px;
        }
    }

    // .footer__inner-info

    &__inner-info {
        margin-left: 163px;
        .info__inner {
            display: flex;
            &-item {
                margin-right: 40px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .info__social {
            display: flex;
            margin-top: 11px;
            &-item {
                margin-right: 12px;
                img {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }

    // .footer__inner-menu

    &__inner-menu {
        .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 450px;
            &__item {
                width: 57px;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                margin-right: 40px;
                &:nth-child(5n + 5) {

                    margin-right: 0;
                }
                &:nth-last-child(-n + 5) {
                    margin-top: 19px;
                }
            }
        }
    }

    // .footer__inner-telephone

    &__inner-telephone {
        .telephone {
            &__tel {
                font-weight: 700;
                line-height: 30px;
                font-size: 24px;
            }
            &__time {
                margin-top: 7px;
                text-align: right;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

.info {

    // .info__inner

    &__inner {
    }

    // .info__item

    &__item {
    }

    // .info__social

    &__social {
    }

    // .info__social-item

    &__social-item {
    }

    // .info__social-link

    &__social-link {
    }
}
.menu {

    // .menu__item

    &__item {
    }

    // .menu__item-link

    &__item-link {
    }
}
.telephone {

    // .telephone__tel

    &__tel {
    }

    // .telephone__tel-link

    &__tel-link {
    }

    // .telephone__time

    &__time {
    }
}
.coopyright {

    text-align: right;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 15px;
}
