.comment__raiting .jq-ry-normal-group svg {
   background-image: url(../img/star-fill.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   fill: none;
}