@import 'swiper';
@import '../../node_modules/swiper/swiper-bundle.css';
@import 'fonts';
@import 'vars';
@import 'global';
@import 'header';
@import 'footer';

//start banner
.banner {

    .swiper-button-next, .swiper-button-prev {
        top: 40%;
    }

    .container {
        position: relative;
    }

    margin-top: 190px;

    // .banner__inner
    &__inner {
        margin: 54px 0 150px;
    }

    // .banner__item

    &__item {
        position: relative;
    }

    // .banner__item-btn

    &__item-btn {
        position: absolute;
        text-align: center;
        bottom: -50px;
        left: 60px;
        background-image: url('../img/up.png');
        width: 132px;
        height: 132px;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;

    }
    &__item-img {
        width: 1224px;
        height: auto;

    }



    &-info {
        margin-bottom: 130px;
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }
        &-__item {
            img {
                width: 198px;
                height: 181px;
            }
        }
    }
    &::before {
        z-index: -1;
        position: absolute;
        content: url('../img/delivery-bg.png');
        bottom: 0;
        left: 0;
    }
}


//end banner

//start top-position
.tabs {
    padding-top: 80px;
    padding-bottom: 40px;

        display: flex;
        justify-content: start;
		// .tabs__title

		&__title {
            position: relative;
            @include title;
            font-size: 48px;
            line-height: 60px;
            margin-right: 32px;
            &:first-child::before {
                position: absolute;
                content: url(../img/roll.png);
                width: 64px;
                height: 64px;
                top: -45px;
                left: -75px;
            }
            // .tabs__title--disabled
            &--disabled {
                color: #B7B7B7;
            }
		}
}

.top-position {
    position: relative;
    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        content: url(../img/top-position-bg.png);
    }
}

.top-position, .combo-menu, .category {
    padding-bottom: 100px;
    .container{
        max-width: 1278px;
        position: relative;
    }
    .swiper-button-next.swiper-button-disabled.swiper-button-next {
        display: none;
     }

     .swiper-button-prev.swiper-button-disabled.swiper-button-prev {
        display: none;
     }

     // .combo-menu__title
     &__title {
        @include title;
        padding-top: 80px;
        padding-bottom: 40px;
     }

		// .top-position__inner
		&__inner {
            display: flex;
		}

		// .top-position__item

		&__item {
            flex-wrap: wrap;
            max-width: 392px;
            min-height: 479px;
            background-color: #fff;
            margin-right: 24px;

            &-wrapper {
                padding: 30px 24px 24px 24px;
            }
		}

		// .top-position__item-img

		&__item-img {
            position: relative;
			// .top-position__item-img_img

			&_img {
                width: 392px;
                height: 256px;
			}
		}

        &__item-case {
            position: absolute;
            width: 100%;
            height: 100%;
            // padding-top: 12px;
            // padding-left: 8px;
        }
		// .top-position__item-top

		&__item-top, &__item-new {
            position: absolute;
            width: 72px;
            height: 72px;
            top: 10px;
            right: -15px;
		}

		// .top-position__item-hot

		&__item-hot {
            width: 51px;
            height: 49px;
            margin-top: 6px;
            margin-left: 10px;
		}

		// .top-position__item-baked

		&__item-baked {
            margin-top: 6px;
            margin-left: 10px;
            width: 51px;
            height: 59px;
		}

        &__item-box-info {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3px;
        }
        &__item-tab-size {
            display: flex;

            .tab-size__item {
                position: relative;
                width: 55px;
                max-height: 26px;
                background: #F5F5F5;
                color: #B7B7B7;
                border-radius: 2px;
                line-height: 18px;
                font-weight: 600;
                font-size: 12px;
                margin-right: 12px;
                &:nth-last-child(2n) {
                    margin-right: 0px;
                    &::after {
                        content: '';
                    }
                }
                &--active {
                    color: #fff;
                    background: #E07153;
                }

                &::after {
                    position: absolute;
                    content: url('../img/icons.svg#point');
                    width: 4px;
                    height: 4px;
                    right: -8px;
                    top: -1px;
                }

                &-plus-price {
                    position: absolute;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    color: #B7B7B7;
                    top: -15px;
                    right: 0;
                }
            }
        }

		// .top-position__item-grammar

		&__item-grammar {
            position: relative;
            font-weight: 400;
            line-height: 18px;
            font-size: 14px;
            color: #B7B7B7;
            span {
                margin-right: 20px;
                &::after {
                    position: absolute;
                    margin-left: 8px;
                    content: url('../img/icons.svg#point');
                    width: 4px;
                    height: 4px;
                    top: -2px;
                }
                &:last-child::after {
                    content: '';
                }
            }
		}

		// .top-position__item-name

		&__item-name {
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            color: #1B1B1B;
            margin-bottom: 4px;
		}

		// .top-position__item-composition

		&__item-composition {
            margin-bottom: 11px;
            min-height: 51px;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #1B1B1B;
		}

		// .top-position__item-box

		&__item-box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
		}

		// .top-position__item-old-price

		&__item-old-price {
            top: -15px;
            position: absolute;
            font-weight: 400;
            line-height: 18px;
            font-size: 14px;
            color: #B7B7B7;
		}

		// .top-position__item-new-price

		&__item-new-price {
            font-weight: 700;
            line-height: 40px;
            font-size: 32px;
            color: #1B1B1B;
		}

		// .top-position__item-btn

		&__item-btn {
            @include btn;
            min-width: 0;
            width: 180px;
            max-height: 44px;
            // padding: 13px 0;
            text-align: center;
            background-image: url('../img/btn.png');
            font-weight: 700;
            line-height: 18px;
            font-size: 14px;
		}
}


.combo-menu {
    position: relative;
    background-color: #F5F9FA;
    &::before {
        position: absolute;
        content: url('../img/combo-menu-bg.png');
        bottom: 0;
        left: 0;
        width: 316px;
        height: 503px;
    }

    &__title {
        &::after {
            position: absolute;
            content: url('../img/roll-1.png');
            width: 64px;
            height: 64px;
            top: 60px;
            padding-left: 15px;


        }
    }
}

//end top-position

//start category

.category {

    &__title {
        padding-top: 0;
        position: relative;
        @include title;
        &::after {
            position: absolute;
            content: url('../img/roll_3.png');
            padding-left: 17px;
            top: -15px;
            width: 64px;
            height: 64px;
        }
    }

    &__tab {
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 31px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-radius: 16px;
        height: 96px;

        &-item {
            position: relative;
            max-width: 121px;
            padding: 20px;
            padding-left: 52px;
            background-color: #fff;

            .item__title {
                color: #1B1B1B;
                line-height: 20px;
                font-weight: 600;
                font-size: 16px;
            }

            img {
                position: absolute;
                left: 0;
                top: 15px;
                margin-left: 20px;
                height: 24px;
                width: 24px;
            }

            &--active {
                z-index: 2;
                background: #E07153;
                box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
                border-radius: 12px;
                .item__title {
                    color: #FFFFFF;
                }

            }
        }
    }


    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 24px;
    }

    &__bottom {
        margin-top: 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pagination__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 283px;

            &-item {
                padding: 13px 22px 18px 22px;
                color: #1B1B1B;
                font-weight: 400;
                line-height: 25px;
                font-size: 20px;
                &::before {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    left: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #fbfbfb;
                    width: 80px;
                    height: 30px;
                }

                &--active {
                    z-index: -2;
                    position: relative;
                    border: 1px solid #C95C3F;
                    border-radius: 50%;
                    color: #C95C3F;

                }
            }


            .arr-left, .arr-right {
                    width: 36px;
                    height: 36px;
            }
            .arr-left {
                    transform: rotate(180deg);
            }
        }

        &-btn {
            margin-right: 72px;
            position: relative;
            font-weight: 600;
            line-height: 30px;
            font-size: 24px;
            color: #C95C3F;
            &::after {
                margin-left: 16px;
                position: absolute;
                content: url('../img/icons.svg#arr');
                top: -5px;
                width: 36px;
                height: 36px;
            }
        }
    }

}

//end category

//start action

.action {
    position: relative;
    padding-top: 104px;
    padding-bottom: 124px;

    // .action__title

    &__title {
        margin-bottom: 41px;
        @include title;
        position: relative;
        &::after {
            position: absolute;
            content: url('../img/roll_2.png');
            padding-left: 16px;
            width: 64px;
            height: 64px;
            top: -15px;
        }
    }

    // .action__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    // .action__item

    &__item {
        transition: all .3s;
        padding: 24px;
        position: relative;
        width: 392px;
        height: 280px;
        border-radius: 8px;
        background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        img {
            width: 392px;
            height: 280px;
        }
        &:hover {
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
        }

        &--1 {
            background-image: url(../img/sale-1.png);
        }
        &--2 {
            background-image: url(../img/sale-2.png);
        }
        &--3 {
            background-image: url(../img/sale-3.png);
        }
    }

    // .action__item-title

    &__item-title {
        padding-bottom: 4px;
        font-weight: 600;
        line-height: 30px;
        font-size: 24px;
        color: #1B1B1B;
    }

    // .action__item-text

    &__item-text {
        font-weight: 500;
        color: #1B1B1B;
        font-size: 14px;
        line-height: 18px;
    }

    &::after {
        z-index: -1;
        position: absolute;
        content: url('../img/action-bg.png');
        top: 0;
        right: 0;
    }

}

//end action

// start about

.about {

    // .about__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .about__info

    &__info {
        max-width: 555px;
    }

    // .about__info-title

    &__info-title {
        position: relative;
        @include title;
        &::after {
            position: absolute;
            content: url('../img/roll_4.png');
            width: 64px;
            height: 64px;
            padding-left: 16px;
            top: -15px;
        }
        width: 500px;
    }

    // .about__info-text

    &__info-text {
        max-width: 555px;
        padding: 40px 0 10px;
        font-weight: 300;
        color: #1B1B1B;
        font-size: 20px;
        line-height: 160%;
        p{
            margin-bottom: 20px;
        }
    }

    // .about__img

    &__img {
        position: relative;

        &::after {
            position: absolute;
            z-index: -1;
            content: url('../img/about-2.jpg');
            max-width: 100%;
            width: 336px;
            height: 419px;
            right: -200px;
            bottom: 80px;

        }

        &-img {
            width: 514px;
            height: 640px;

        }
    }
}

// end about

// start inst

.instagram {
    position: relative;
    margin-bottom: 175px;
    padding-top: 230px;

    // .instagram__wrapper

    &__wrapper {
        max-width: 1225px;
        margin: 0 auto;
    }

    // .instagram__content

    &__content {
        margin-bottom: 58px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .instagram__title

    &__title {
        max-width: 470px;
        font-weight: 600;
        color: #1B1B1B;
        font-size: 40px;
        line-height: 50px;
        & span {
            color: #E07153;
        }
    }

    // .instagram__btn

    &__btn {
        width: 288px;
        min-height: 72px;
        @include btn;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
        position: relative;
        padding-left: 48px;

        &::before {
            position: absolute;
            content: url(../img/icons.svg#instagram-line);
            width: 32px;
            height: 32px;
            top: 18px;
            left: 35px;
        }
    }

    // .instagram__img

    &__img {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 12px 12px;

        img:nth-child(4) {
            grid-row: span 2;
        }
        img:nth-child(5) {
            grid-column: span 2;
        }
    }
    &::after {
        position: absolute;
        content: url('../img/inst-bg.png');
        z-index: -1;
        top: -20px;
        right: 0;
    }
}

// end inst


// start page404

.page404 {
    margin-top: 200px;

    // .page404__block

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

    }

    // .page404__img

    &__img {
        margin: 64px 0 40px;
        width: 860px;
        height: 312px;

    }

    // .page404__title

    &__title {
        font-weight: 500;
        line-height: 45px;
        font-size: 36px;
        color: #1B1B1B;
    }

    // .page404__text

    &__text {
        max-width: 650px;
        text-align: center;
        margin: 8px 0 24px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #000000;

    }

    // .page404__btn

    &__btn {
        @include btn;
        margin-bottom: 150px;
    }
}
// end page404

// start delivery
.delivery {
    margin-top: 190px;

    &::after {
        z-index: -1;
        position: absolute;
        content: url('../img/delivery-map-bg.png');
        width: 100%;
        bottom: -120px;
        left: 0;
        // left: -50%;
    }

    // .delivery__title

    &__title {
        margin-top: 64px;
        @include title;
        &::after {
            content: url('../img/roll-5.png');
        }
    }

    // .delivery__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 58px;

    }

    // .delivery__inner-item

    &__inner-item {
        display: flex;
        align-items: center;
        max-width: 550px;
        img {
            width: 264px;
            height: 196px;

        }
        .item__box {
            margin-left: 24px;
            &-title {
                font-weight: 600;
                line-height: 30px;
                font-size: 24px;
                &_green {

                    color: #7E9E1E;
                }
                &_yellow {

                    color: #F1C400;
                }
            }
            &-time, &-minimum, &-delivery {
                padding-top: 12px;
                font-weight: 400;
                line-height: 20px;
                font-size: 16px;
                color: #1B1B1B;
                span {
                    font-weight: 600;
                }
            }
        }
    }

    // .delivery__map

    &__map {
        margin-top: 48px;
        .map {
            position: relative;
            width: 100%;
            height: 430px;
            background-image: url(../img/map.jpg);
            &__input {
                position: absolute;
                margin: 16px;
                @include input;
            }
        }
    }

    // .delivery__info

    &__info {
        .info {
            &__title {
                margin-top: 48px;
                position: relative;
                padding-left: 56px;
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                color: #1B1B1B;
                &::before {
                    font-weight: 500;
                    line-height: 18px;
                    font-size: 14px;
                    color: #FFFFFF;
                    color: #fff;
                    text-align: center;
                    padding-top: 15px;
                    position: absolute;
                    content: 'i' ;
                    background-image: url('../img/icons.svg#sticks');
                    background-size: cover;
                    background-repeat: no-repeat;
                   top: -13px;
                    left: 0;
                    width: 40px;
                    height: 40px;
                }
            }
            &__text {
                p {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 160%;
                    color: #1B1B1B;
                    margin-top: 24px;
                    span {
                        font-weight: 500;
                    }
                }
            }
        }

    }
}

// end delivery

// start payment
.payment {

    // .payment__title

    &__title {
        max-width: 190px;
        margin-top: 100px;
        @include title;
        position: relative;
        &::after {
            position: absolute;
            content: url('@img/oplata.png');
            width: 64px;
            height: 64px;
            top: -20px;
            right: 0;
            width: 40px;
            height: 64px;
        }
    }

    // .payment__inner

    &__inner {
        margin-top: 72px;
        display: flex;
        justify-content: space-between;
        .item {
            position: relative;
            border: 1px solid #E2E1E1;
            padding: 64px 20px 0 20px;
            text-align: center;
            width: 392px;
            min-height: 201px;
            &__img {
                position: absolute;
                z-index: 3;
                width: 120px;
                background-color: #fbfbfb;
                top: -40px;
                    left: 50%;
                    transform: translateX(-50%);
                &-img {
                    width: 64px;
                    height: 64px;
                }

            }
            &__title {
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                color: #1B1B1B;
            }
            &__text {
                width: 300px;
                margin: 0 auto;
                margin-top: 8px;
                font-weight: 300;
                font-size: 16px;
                line-height: 160%;
                text-align: center;
                color: #1B1B1B;
            }
        }
    }

    // .payment__text

    &__text {
        margin-top: 50px;
        margin-bottom: 140px;
        font-weight: 300;
        color: #1B1B1B;
        font-size: 20px;
        line-height: 160%;
        p {
            margin-top: 20px;
        }
    }
}
// end payment


// start cart



// end cart


// Media
@import 'media';
